<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>Annotation Tool Login</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/login.css" />
    <script src="static/login_db.js"></script>
  </head>
  <body>
    <div class="form-container" id="form_container" style="display: block">
      <form onsubmit="submitForm(event)">
        <div class="form">
          <h3>Login</h3>
          <br />
          <label for="username" id="username_label">Username</label>
          <input id="username" placeholder="enter username" />
          <br />
          <label for="password" id="password_label">Password</label>
          <input type="password" placeholder="Password" id="password" />
          <br />
          <select id="login-set">
            <option value="label_1904">1904年</option>
            <option value="label_1921">1921年</option>
            <option value="WMTSlabel_1904">WMTS 1904</option>
            <option value="WMTSlabel_1921">WMTS 1921</option>
          </select>
          <select id="login-mode">
            <option value="annotate">標註</option>
            <option value="modify">修改</option>
          </select>
          <br />
          <div id="login-status"></div>
          <br />
          <button type="submit" class="btn" id="submit_button">Log in</button>
        </div>
      </form>
    </div>
  </body>
</html>
