<nav aria-label="Page navigation">
  <ul class="pagination" id="pagination1_1">
    <li class="ptype active" data-ptype="1" id="class2ptype">
      <a class="ptypeBtn" data-ptype="1" href="#" style="display: inline-block">
        果園
        <img src="website/static/images/class2-1.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="2">
      <a class="ptypeBtn" data-ptype="2" href="#">
        茶畑
        <img src="website/static/images/tea.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="3">
      <a class="ptypeBtn" data-ptype="3" href="#">
        桑畑
        <img src="website/static/images/class2-3.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="4">
      <a class="ptypeBtn" data-ptype="4" href="#">
        沼田
        <img src="website/static/images/class2-4.png" alt="图片" />
      </a>
    </li>
  </ul>
  <ul class="pagination" id="pagination1_2">
    <li class="ptype" data-ptype="5">
      <a class="ptypeBtn" data-ptype="5" href="#">
        水田
        <img src="website/static/images/class2-5.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="6">
      <a class="ptypeBtn" data-ptype="6" href="#">
        乾田
        <img src="website/static/images/class2-6.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="7">
      <a class="ptypeBtn" data-ptype="7" href="#">
        荒地
        <img src="website/static/images/wasterland.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="8">
      <a class="ptypeBtn" data-ptype="8" href="#">
        樹林椶櫚科
        <img src="website/static/images/class2-8.png" alt="图片" />
      </a>
    </li>
  </ul>
  <ul class="pagination" id="pagination1_3">
    <li class="ptype" data-ptype="9">
      <a class="ptypeBtn" data-ptype="9" href="#">
        竹林
        <img src="website/static/images/bamboo.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="10">
      <a class="ptypeBtn" data-ptype="10" href="#">
        樹林鍼葉
        <img src="website/static/images/class2-10.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="11">
      <a class="ptypeBtn" data-ptype="11" href="#">
        樹林濶葉
        <img src="website/static/images/class2-11.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="12">
      <a class="ptypeBtn" data-ptype="12" href="#">
        草地
        <img src="website/static/images/grassland.png" alt="图片" />
      </a>
    </li>
  </ul>
  <ul class="pagination" id="pagination1_4">
    <li class="ptype" data-ptype="13">
      <a class="ptypeBtn" data-ptype="13" href="#">
        三椏火田
        <img src="website/static/images/class2-13.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="14">
      <a class="ptypeBtn" data-ptype="14" href="#">
        囿園
        <img src="website/static/images/class2-14.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="15">
      <a class="ptypeBtn" data-ptype="15" href="#">
        地芝
        <img src="website/static/images/class2-15.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="16">
      <a class="ptypeBtn" data-ptype="16" href="#">
        墓地
        <img src="website/static/images/class2-16.png" alt="图片" />
      </a>
    </li>
  </ul>
  <ul class="pagination" id="pagination1_5">
    <li class="ptype" data-ptype="17">
      <a class="ptypeBtn" data-ptype="17" href="#">
        枯木及燒木林
        <img src="website/static/images/class2-17.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="18">
      <a class="ptypeBtn" data-ptype="18" href="#">
        樹叢
        <img src="website/static/images/class2-18.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="19">
      <a class="ptypeBtn" data-ptype="19" href="#">
        火田木苗
        <img src="website/static/images/class2-19.png" alt="图片" />
      </a>
    </li>
    <li class="ptype" data-ptype="20">
      <a class="ptypeBtn" data-ptype="20" href="#">
        矮松地
        <img src="website/static/images/class2-20.png" alt="图片" />
      </a>
    </li>
  </ul>
  <ul class="pagination" id="pagination1_6">
    <li class="ptype" data-ptype="21">
      <a class="ptypeBtn" data-ptype="21" href="#">
        苗圃
        <img src="website/static/images/class2-21.png" alt="图片" />
      </a>
    </li>
  </ul>
</nav>
