<nav aria-label="Page navigation">
  <ul class="pagination" id="pagination1_1">
    <li class="ptype active" data-ptype="1" id="class1ptype">
      <a class="ptypeBtn" data-ptype="1" href="#" style="display: inline-block">
        田地
        <img
          src="website/static/images/farmland.png"
          alt="图片"
          style="
            width: 150px;
            height: 100px;
            vertical-align: bottom;
            margin-bottom: 10px;
            border: 2px solid black;
          "
        />
      </a>
    </li>
    <li class="ptype" data-ptype="2">
      <a class="ptypeBtn" data-ptype="2" href="#">
        草地
        <img
          src="website/static/images/grassland.png"
          alt="图片"
          style="
            width: 150px;
            height: 100px;
            vertical-align: bottom;
            margin-bottom: 10px;
            border: 2px solid black;
          "
        />
      </a>
    </li>
    <li class="ptype" data-ptype="3">
      <a class="ptypeBtn" data-ptype="3" href="#">
        荒地
        <img
          src="website/static/images/wasterland.png"
          alt="图片"
          style="
            width: 150px;
            height: 100px;
            vertical-align: bottom;
            margin-bottom: 10px;
            border: 2px solid black;
          "
        />
      </a>
    </li>
    <li class="ptype" data-ptype="4">
      <a class="ptypeBtn" data-ptype="4" href="#">
        墓地
        <img
          src="website/static/images/grave.png"
          alt="图片"
          style="
            width: 150px;
            height: 100px;
            vertical-align: bottom;
            margin-bottom: 10px;
            border: 2px solid black;
          "
        />
      </a>
    </li>
  </ul>
  <ul class="pagination" id="pagination1_2">
    <li class="ptype" data-ptype="5">
      <a class="ptypeBtn" data-ptype="5" href="#">
        樹林
        <img
          src="website/static/images/forest.png"
          alt="图片"
          style="
            width: 150px;
            height: 100px;
            vertical-align: bottom;
            margin-bottom: 10px;
            border: 2px solid black;
          "
        />
      </a>
    </li>
    <li class="ptype" data-ptype="6">
      <a class="ptypeBtn" data-ptype="6" href="#">
        竹林
        <img
          src="website/static/images/bamboo.png"
          alt="图片"
          style="
            width: 150px;
            height: 100px;
            vertical-align: bottom;
            margin-bottom: 10px;
            border: 2px solid black;
          "
        />
      </a>
    </li>
    <li class="ptype" data-ptype="7">
      <a class="ptypeBtn" data-ptype="7" href="#">
        旱地
        <img
          src="website/static/images/dry.png"
          alt="图片"
          style="
            width: 150px;
            height: 100px;
            vertical-align: bottom;
            margin-bottom: 10px;
            border: 2px solid black;
          "
        />
      </a>
    </li>
    <li class="ptype" data-ptype="8">
      <a class="ptypeBtn" data-ptype="8" href="#">
        茶畑
        <img
          src="website/static/images/tea.png"
          alt="图片"
          style="
            width: 150px;
            height: 100px;
            vertical-align: bottom;
            margin-bottom: 10px;
            border: 2px solid black;
          "
        />
      </a>
    </li>
  </ul>
</nav>
