<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>Annotation Tool - WMTS 1904 (Annotation)</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/pagination.css" />
    <script src="static/script_db.js"></script>
    <script src="static/label.js"></script>
  </head>
  <body>
    <div class="content">
      <div class="image-container" id="image-container">
        <img id="image-display" src="" alt="圖片預覽" />
      </div>
      <input
        type="file"
        id="file-input"
        multiple
        accept="image/*"
        style="display: none"
      />
      <input
        type="file"
        id="label-input"
        accept=".txt"
        multiple
        style="display: none"
      />
      <button id="logout-button">登出</button>
      <button id="upload-button" style="display: none">上傳圖片</button>
      <button id="upload-label-button" style="display: none">上傳標註</button>
      <button id="reset-button">重新標註</button>
      <button id="complete-button">完成標註</button>
      <button id="prev-button">前一張圖</button>
      <button id="next-button">下一張圖</button>
      <div class="control-group" id="label-size-container">
        <label for="label-size">標籤大小:</label>
        <input
          type="number"
          id="label-size"
          name="label-size"
          min="1"
          max="480"
          value="20"
        />
      </div>
      <div id="label-counter">標註框數量 0</div>
      <div id="image-counter">圖片數量 0 / 0</div>
      <div id="complete-counter">完成標註數量 0 / 0</div>
      <select id="format-select" style="display: none">
        <option value="yolo">YOLO Format</option>
        <option value="pascal">Pascal Format</option>
      </select>
      <button id="download-button">下載標註結果</button>
      <div id="download-status"></div>
      <div class="control-group" id="WMTS-input" style="width: 1000px">
        <label for="label-size">經度：</label>
        <input
          type="number"
          id="label-lon-input"
          name="label-lon"
          min="121"
          max="123"
          value="121.5"
        />
        <label for="label-size">緯度：</label>
        <input
          type="number"
          id="label-lat-input"
          name="label-lat"
          min="21"
          max="25"
          value="23"
        />
        <label for="label-size">Zoom Level：</label>
        <input
          type="number"
          id="label-zoom-input"
          name="label-zoom"
          min="1"
          max="21"
          value="16"
        />
        <button class="button" id="crawler-lonlat-button">
          經緯度下載WMTS圖片
        </button>
        <br />
        <label for="label-size">X tile：</label>
        <input
          type="number"
          id="label-xtile-input"
          name="label-xtile"
          value="54886"
        />
        <label for="label-size">Y tile：</label>
        <input
          type="number"
          id="label-ytile-input"
          name="label-ytile"
          value="28364"
        />

        <button class="button" id="crawler-tile-button">
          圖磚下載WMTS圖片
        </button>
      </div>

      <div id="nav-placeholder"></div>
      <div class="menu">
        <ul id="image-menu"></ul>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const year = localStorage.getItem("year");
          const url = `/website/nav_${year}`;

          fetch(url)
            .then((response) => response.text())
            .then((data) => {
              document.getElementById("nav-placeholder").innerHTML = data;
            })
            .catch((error) =>
              console.error("Error loading navigation:", error),
            );
        });
      </script>
    </div>
  </body>
</html>
