<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>Annotation Tool</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/pagination.css" />
    <script src="../static/script.js"></script>
    <script src="../static/label.js"></script>
  </head>

  <body>
    <div class="content">
      <div class="image-container" id="image-container">
        <img id="image-display" src="" alt="圖片預覽" />
      </div>
      <input
        type="file"
        id="file-input"
        multiple
        accept="image/*"
        style="display: none"
      />
      <input
        type="file"
        id="label-input"
        accept=".txt"
        multiple
        style="display: none"
      />
      <button id="logout-button">logout</button>
      <button id="upload-button">Upload Images</button>
      <button id="upload-label-button">Upload Annotations</button>
      <button id="reset-button">Reset Annotations</button>
      <button id="complete-button">Complete Annotations</button>
      <button id="prev-button">Last Image</button>
      <button id="next-button">Next Image</button>
      <div class="control-group" id="label-size-container">
        <label for="label-size">Box Size:</label>
        <input
          type="number"
          id="label-size"
          name="label-size"
          min="1"
          max="480"
          value="20"
        />
      </div>
      <div id="label-counter">Box Count 0</div>
      <div id="image-counter">Image Count 0 / 0</div>
      <div id="complete-counter">Complete Count 0 / 0</div>
      <select id="format-select" style="display: none">
        <option value="yolo">YOLO Format</option>
        <option value="pascal">Pascal Format</option>
      </select>
      <button id="download-button">Download Annotations</button>
      <div id="download-status"></div>
    </div>
    <div id="nav-placeholder"></div>
    <div class="menu">
      <ul id="image-menu"></ul>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const year = localStorage.getItem("year");
        const url = `/nav_${year}`;

        fetch(url)
          .then((response) => response.text())
          .then((data) => {
            document.getElementById("nav-placeholder").innerHTML = data;
          })
          .catch((error) => console.error("Error loading navigation:", error));
      });
      console.log("");
      document.getElementById("pagination1_1").style.top = `${800}px`;
      document.getElementById("pagination1_2").style.top = `${950}px`;

      if (document.getElementById("pagination1_3")) {
        document.getElementById("pagination1_3").style.top = `${1100}px`;
      }
      if (document.getElementById("pagination1_4")) {
        document.getElementById("pagination1_4").style.top = `${1250}px`;
      }
      if (document.getElementById("pagination1_5")) {
        document.getElementById("pagination1_5").style.top = `${1400}px`;
      }
      if (document.getElementById("pagination1_6")) {
        document.getElementById("pagination1_6").style.top = `${1550}px`;
      }
    </script>
  </body>
</html>
