.pagination {
  vertical-align: top;
  padding-left: 0px;
  margin: 15px 0px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.ptypeBtn {
  width: 170px;
  height: 142px;
  margin: 0px 10px;
  border-radius: 5px;
  text-align: center;
}

.pagination > li {
  display: inline;
}

.pagination:nth-child(1) {
  width: 100%;
}

.pagination > li > a {
  position: relative;
  float: left;
  padding: 0px 0px;
  margin-left: -1px;
  line-height: 1.42857;
  color: rgb(51, 122, 183);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.pagination > li > a:focus {
  z-index: 3;
  color: rgb(35, 82, 124);
  background-color: rgb(238, 238, 238);
  border-color: rgb(221, 221, 221);
}

.pagination > .modify[data-ptype="1"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(255, 0, 0, 0.5);
  border-color: rgb(255, 0, 0);
}

.pagination > .modify[data-ptype="2"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(0, 0, 255, 0.7);
  border-color: rgb(0, 0, 255);
}

.pagination > .modify[data-ptype="3"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(0, 128, 0, 0.7);
  border-color: rgb(0, 128, 0);
}

.pagination > .modify[data-ptype="4"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(128, 0, 128, 0.7);
  border-color: rgb(128, 0, 128);
}

.pagination > .modify[data-ptype="5"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(255, 165, 0, 0.7);
  border-color: rgb(255, 165, 0);
}

.pagination > .modify[data-ptype="6"] > a {
  z-index: 2;
  color: rgb(0, 0, 0);
  cursor: default;
  background-color: rgba(255, 192, 203, 0.7);
  border-color: rgb(255, 192, 203);
}

.pagination > .modify[data-ptype="7"] > a {
  z-index: 2;
  color: rgb(0, 0, 0);
  cursor: default;
  background-color: rgba(255, 255, 0, 0.7);
  border-color: rgb(255, 255, 0);
}

.pagination > .modify[data-ptype="8"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(0, 255, 255, 0.7);
}

.pagination > .modify[data-ptype="9"] > a {
  z-index: 2;
  color: rgb(0, 0, 0);
  cursor: default;
  background-color: rgba(255, 0, 255, 0.7);
  border-color: rgb(255, 0, 255);
}

.pagination > .modify[data-ptype="10"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(0, 128, 128, 0.7);
  border-color: rgb(0, 128, 128);
}

.pagination > .modify[data-ptype="11"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(165, 42, 42, 0.7);
  border-color: rgb(165, 42, 42);
}

.pagination > .modify[data-ptype="12"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(128, 128, 0, 0.7);
  border-color: rgb(128, 128, 0);
}

.pagination > .modify[data-ptype="13"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(0, 0, 128, 0.7);
  /* navy */
  border-color: rgb(0, 0, 128);
  /* navy */
}

.pagination > .modify[data-ptype="14"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(0, 255, 0, 0.7);
  /* lime */
  border-color: rgb(0, 255, 0);
  /* lime */
}

.pagination > .modify[data-ptype="15"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(255, 127, 80, 0.7);
  /* coral */
  border-color: rgb(255, 127, 80);
  /* coral */
}

.pagination > .modify[data-ptype="16"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(0, 255, 255, 0.7);
  /* aqua */
  border-color: rgb(0, 255, 255);
  /* aqua */
}

.pagination > .modify[data-ptype="17"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(128, 0, 0, 0.7);
  /* maroon */
  border-color: rgb(128, 0, 0);
  /* maroon */
}

.pagination > .modify[data-ptype="18"] > a {
  z-index: 2;
  color: rgb(0, 0, 0);
  cursor: default;
  background-color: rgba(230, 230, 250, 0.7);
  /* lavender */
  border-color: rgb(230, 230, 250);
  /* lavender */
}

.pagination > .modify[data-ptype="19"] > a {
  z-index: 2;
  color: rgb(255, 255, 255);
  cursor: default;
  background-color: rgba(128, 128, 128, 0.7);
  /* grey */
  border-color: rgb(128, 128, 128);
  /* grey */
}

.pagination > .modify[data-ptype="20"] > a {
  z-index: 2;
  color: rgb(0, 0, 0);
  cursor: default;
  background-color: rgba(255, 215, 0, 0.7);
  /* gold */
  border-color: rgb(255, 215, 0);
  /* gold */
}

.pagination > .modify[data-ptype="21"] > a {
  z-index: 2;
  color: rgb(0, 0, 0);
  cursor: default;
  background-color: rgba(192, 192, 192, 0.7);
  /* silver */
  border-color: rgb(192, 192, 192);
  /* silver */
}
