body {
  font-family: Arial, sans-serif;
  text-align: left;
  padding: 35px;
  background-color: #f4f4f4;

  justify-content: center;
  align-items: center;

  margin: 0;
  overflow: auto;
}

.image-container {
  width: 720px;
  height: 720px;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
}

#image-display {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 720px;
  object-fit: contain;
}

#image_display {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 720px;
  object-fit: contain;
}

#custom-file-button {
  background-color: #008cba;
}

#upload-button,
#upload-label-button,
#reset-button,
#download-button,
#complete-button,
#prev-button,
#next-button,
#logout-button {
  color: white;
  vertical-align: top;
  position: absolute;
  margin: 30px;
  border: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

#logout-button {
  background-color: #ff2f2f;
  top: 20px;
  left: 1300px;
  width: 80px;
  height: 25px;
}

#upload-button {
  background-color: #392fff;
  top: 20px;
  left: 750px;
  width: 163px;
  height: 52px;
}

#upload-label-button {
  background-color: #392fff;
  top: 20px;
  left: 925px;
  width: 163px;
  height: 52px;
}

#reset-button {
  background-color: #392fff;
  top: 20px;
  left: 1100px;
  width: 163px;
  height: 52px;
}

#download-button {
  background-color: #392fff;
  width: 163px;
  height: 52px;
  top: 185px;
  left: 1510px;
}

#complete-button {
  background-color: #392fff;
  width: 163px;
  height: 52px;
  top: 90px;
  left: 1100px;
}

#prev-button {
  background-color: #392fff;
  width: 163px;
  height: 52px;
  top: 90px;
  left: 750px;
}

#next-button {
  background-color: #392fff;
  width: 163px;
  height: 52px;
  top: 90px;
  left: 925px;
}

#upload-button:hover,
#upload-label-button:hover,
#reset-button:hover,
#download-button:hover,
#prev-button:hover,
#next-button:hover,
#complete-button:hover {
  background-color: #008cba;
  color: #ffffff;
}

#label-counter,
#image-counter,
#complete-counter {
  padding: 15px 50px;
  margin: 30px;
  position: absolute;
  vertical-align: top;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#label-counter {
  top: 140px;
  left: 1070px;
}

#image-counter {
  top: 185px;
  left: 890px;
}

#complete-counter {
  top: 185px;
  left: 1070px;
}

nav {
  display: block;
}

* {
  box-sizing: border-box;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  background-color: transparent;
}

a:active {
  outline: 0px;
}

a:focus {
  color: rgb(35, 82, 124);
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

a[href]::after {
  content: " (" attr(href) ")";
}

a[href^="#"]::after {
  content: "";
}

#label-size-container {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  top: 230px;
  left: 785px;
}

#label-size {
  width: 80px;
  height: 30px;
  font-size: 18px;
  position: absolute;
  top: 0px;
  left: 85px;
}

label[for="label-size"] {
  font-size: 18px;
}

#image-menu {
  list-style-type: none;
  padding: 0;
  position: absolute;
  left: 785px;
  top: 400px;
}

#image-menu li.completed > a::before {
  content: "\2713";
  margin-right: 5px;
  color: green;
}

#image-menu li::before {
  content: none;
  display: none;
}

.download-image-button {
  background-color: #443aff;
  color: white;
  padding: 2px 5px;
  margin: 5px;
  margin-left: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#image-menu li {
  display: table-row;
}

#image-menu li > * {
  display: table-cell;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
}

#image-menu li > a {
  text-decoration: underline;
  color: black;
}

.selection-rect {
  position: absolute;
  border: 2px dashed #00bfff;
  background-color: rgba(0, 191, 255, 0.2);
  z-index: 10;
}

.detection-box,
.overlay-div {
  position: absolute;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.3);
}

#format-select {
  position: absolute;
  top: 185px;
  margin: 30px;
  left: 1330px;
  font-size: 16px;
  background-color: #ff902f;
  color: white;
  text-align: center;
  vertical-align: top;
  border: none;
  border-radius: 5px;
  width: 163px;
  height: 52px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

#format-select:hover {
  background-color: #efc483;
  color: #ffffff;
}

#download-status {
  padding: 15px 50px;
  margin: 30px;
  position: absolute;
  top: 140px;
  left: 705px;
  vertical-align: top;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.content,
nav {
  display: none;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.button {
  background-color: #392fff;
  color: white;
  vertical-align: top;
  border: none;
  height: 52px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.button:hover {
  background-color: #008cba;
  color: #ffffff;
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

#login-status {
  color: red;
  font-size: 18px;
}

.pagination img {
  width: 150px;
  height: 100px;
  vertical-align: bottom;
  margin-bottom: 10px;
  border: 2px solid black;
}

#WMTS-input {
  position: absolute;
  left: 785px;
  top: 280px;
  width: 4000px;
}

#label-lat-input,
#label-lon-input {
  width: 80px;
  height: 30px;
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 10px;
}

#label-xtile-input,
#label-ytile-input {
  width: 77px;
  height: 30px;
  font-size: 18px;
  margin-right: 17px;
}

#label-zoom-input {
  width: 77px;
  height: 30px;
  font-size: 18px;
  margin-top: 20px;
  margin-right: 17px;
}

#crawler-lonlat-button {
  width: 200px;
  height: 40px;
  margin-top: 10px;
}

#crawler-tile-button {
  width: 200px;
  height: 40px;
  margin-left: 220px;
  margin-top: 5px;
}
